@model EntityLayer.Concrete.Heading

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="container-fluid">
    <div class="w-50" style="padding:5rem;">
        <form asp-action="AddHeading" method="post">
            <div class="form-group">
                <label name="HeadingName">Heading Name:</label>
                <div style="height:.5rem;"></div>
                <input name="HeadingName" class="form-control" />
                @*<span class="text-danger" asp-validation-for=""></span>*@
            </div>
            <div style="height:1rem;"></div>
            <div class="form-group">
                <label name="HeadingDate">Heading Date:</label>
                <div style="height:.5rem;"></div>
                <input name="HeadingDate" class="form-control" />
                @*<span class="text-danger" asp-validation-for="CategoryDescription"></span>*@
            </div>
            <div style="height:.5rem;"></div>
            <label>Category:</label>
            @Html.DropDownListFor(x => x.CategoryId,(List<SelectListItem>)ViewBag.CategoryValues,new {@class = "form-control"})
            <div style="height:1.5rem;"></div>
            @if (ViewBag.writerId == null)
            {
                <label>Writer:</label>
                @Html.DropDownListFor(x => x.WriterId,(List<SelectListItem>)ViewBag.WriterValues,new {@class = "form-control"})
            }
            else
            {
                <input name="test" value="@ViewBag.writerId" class="form-control" />
            }        
            <div>@ViewBag.writerId</div>
            <input name="IsActive" value="True" class="form-control" style="display:none" />
            <div style="height:.5rem;"></div>
            <button class="btn btn-success">Add Heading</button>
        </form>
    </div>
</div>
