@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>Categori Sayısı: <span>@ViewBag.CategoryNumber</span></div>
<div>Yazılımcı: <span>@ViewBag.SoftNumber</span></div>
<div>True False Status Farkı: <span>@ViewBag.Diff</span></div>