<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    New About
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="model-header">
                <h2 class="modal-title p-3">New About</h2>
            </div>
            <form method="post" asp-action="AddAbout">
                <div class="modal-body">
                    <div class="form-group">
                        <label>AboutDetails 1</label>
                        <input type="text" name="AboutDetails1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>AboutDetails 2</label>
                        <input type="text" name="AboutDetails2" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>About Image 1</label>
                        <input type="text" name="AboutImage1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>About Image 2</label>
                        <input type="text" name="AboutImage2" class="form-control" />
                    </div>
                    <button class="btn btn-success">Add About</button>
                </div>
            </form>
        </div>
    </div>
</div>